.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainpage-columns-parent
{
  display: flex;
  height: 100vh;
  position: relative;
}

.mainpage-columns
{
  border:1px solid black;
}

.power-grid-counter
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.power-grid-counter button
{
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
}

.power-grid {
  margin-top: 10px
}

.power-source-image
{
  width: 100px;
}

.power-source-column
{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.power-source-column button
{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.stats-column{
  height: 100%;
}

.statistics{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 45px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
